 <%= form_for(["admin", @page]) do |f| %>
 <% if @page.errors.any?  %>
    <div>
      <h2><%= pluralize(@page.errors.count, "error") %> prevented from saving</h2>
      <ul>
        <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <%end%>
      </ul>
    </div>
  <%end%>
 
  <main id="main-content">
    <div class="usa-width-three-fourths">
      <div class="field">
        <%= f.label :title, :style=>"margin-top: 0;"%>
        <%= f.text_field :title %>
      </div>
    
      <div class="field">
        <%= f.label :body %>
        <%= f.cktext_area :body %>
      </div>
    
      <div class="field">
        <%= f.label :slug %>
        <%= f.text_field :slug %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
      
      
      <%= link_to 'Back', admin_pages_path %>
    </div>  
    
    <div class="usa-width-one-fourth">
      
    <div class="panel panel-default">
      <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i> Status
      </div>
      <div class="panel-body">
        
        <% if controller_name == 'pages' && action_name == 'edit' %>
          <label>Published At</label><br>
          <%= @page.created_at.strftime("%B %d, %Y at %l:%M %p") %> <br>
        <% end %>  

        <label>Visibility</label><br>
        <div class="btn-group" data-toggle="buttons">
          <div class="btn btn-primary <%= 'active' if @page.private == false %>">Public
          <%= f.radio_button :private, false%>
          </div> 
          <div class="btn btn-primary <%= 'active' if @page.private == true %>">Private
          <%= f.radio_button :private, true %>
          </div> 
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-folder-open" aria-hidden="true"></i> Template
      </div>
      <div class="panel-body">
        <br>
        <%= f.select :template, ['Default','File Directory','Training Portal'], :id => "templateOptions" %>
        <div id="directory-folder">
          <%= f.label :fileFolder, "Enter Default Folder" %>
          <%= f.text_field :fileFolder %>
        </div>
      </div>     
    </div>
  </div>
</main>
<% end %>

<script>


$(document).ready( function () {
  var t = "<%= @page.template %>"
  if (t == "File Directory") {
    $('#directory-folder').show();
  } else {
    $('#directory-folder').hide();
  }
  
  $("#page_template").change(function() {
    var val = $(this).val();

    if(val === "File Directory") {
      $("#directory-folder").show();
    }
    else {
      $("#directory-folder").hide();
    }
  });
});
</script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style>
  @media screen and (min-width: 600px) {
    .usa-width-three-fourths {
      width: 68.41059%;
      margin-right: 4.35765%;
    }
    
    .usa-width-one-fourth:nth-child(2n) {
      width: 27.23176%;
    }
  }

  input, textarea, select {
    margin: 0;
    max-width: 70rem;
  }
  
  .col-sm-6 {
    padding-left: 0;
  }
  
  .btn-primary {
    background-color: grey;
    border-color: #747e88;
  }
  
  .btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: none;
    outline: none; 
    outline-offset: none;
  }
  
  .panel-body {
    padding: 0 15px 15px 15px;
    font-size: 16px;
  }
</style>