 <%= form_for(["admin", @page]) do |f| %>
  <main id="main-content">
    <div class="usa-width-three-fourths">
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
    
      <div class="field">
        <%= f.label :body %>
        <%= f.cktext_area :body %>
      </div>
    
      <div class="field">
        <%= f.label :slug %>
        <%= f.text_field :slug %>
      </div>
  
      <div>
        <%= label :private, "Page set to private?", value: false %>
        <%= f.select :private, [['No', false], ['Yes', true]] %>
      </div>
      
      <div>
        <%= label :fileDirectory, "Include File Directory Module?", value: false %>
        <%= f.select :fileDirectory, [['No', false], ['Yes', true]] %>
      </div>
      
      <div class="field">
        <%= f.label :fileFolder, "Choose a Default folder to display" %>
        <%= f.text_field :fileFolder %>
      </div>
      
      

      
      <div class="actions">
        <%= f.submit %>
      </div>
      
      <%= link_to 'Back', admin_pages_path %>
    </div>  
  </main>
<% end %>