<main class="usa-grid usa-section" id="main-content">
<h1>Pages</h1>


      <table class="table-bordered dataTables_wrapper dt-responsive">
        <thead>
          <tr>
            <th>Title</th>
            <th>Slug</th>
            <th>Show</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
      
        <tbody>
          <% @pages.each do |page| %>
            <tr>
              <td><%= page.title %> <% if page.private == true%> <span style="color:orange"> - private page</span><%end%></td>
              <td><%= page.slug %></td>
              <td><%= link_to 'Show', page_path(page) %></td>
              <td><%= link_to 'Edit', edit_admin_page_path(page) %></td>
              <td><%= link_to 'Destroy', admin_page_path(page), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>


<%= button_to 'New Page', new_admin_page_path, :method => :get %>

<script>
  $('table').DataTable();

// See:
// http://www.sitepoint.com/responsive-data-tables-comprehensive-list-solutions
</script>
<style>
  .dataTables_wrapper .dataTables_paginate .paginate_button {

    padding: 0;
    margin-left: 0px; 

  }
  
  select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: none;
  border: 1px solid #f1f1f1;
  background: none;
}

</style>

</main>
