<% provide(:title, "Home") %>

 <div class="usa-overlay"></div>
    <main id="main-content">
      <section class="usa-hero">
        <div class="usa-grid">
          <div class="usa-hero-callout usa-section-dark">
            <h2><span class="usa-hero-callout-alt">Want to see more?</span> Register to see sensitive information</h2>
            <a class="usa-hero-link" href="#">Click here to see who can register</a>
            <%= link_to "Register here", signup_path, class: "usa-button usa-button-big usa-button-secondary" %>
          </div>
        </div>
      </section>
      <section class="usa-grid usa-section">
        <div class="usa-width-one-third">
          <h2>Who we are.</h2>
          <a href="https://www.facebook.com/CaliforniaCWDS/" target="_blank"><%= image_tag("img/social-icons/png/facebook.png", :size => '32x32') %></a>
          <a href="https://twitter.com/CA_CWDS" target="_blank"><%= image_tag("img/social-icons/png/twitter.png", :size => '32x32') %></a>
          <a href="https://www.linkedin.com/company/child-welfare-digital-services" target="_blank"><%= image_tag("img/social-icons/png/linkdin.png", :size => '32x32') %></a>
          <a href="https://www.youtube.com/channel/UCdoOvrtXKH1NacC4T85sADQ" target="_blank"><%= image_tag("img/social-icons/png/youtube.png", :size => '32x32') %></a>
          <a href="https://github.com/ca-cwds" target="_blank"><%= image_tag("img/social-icons/png/github.png", :size => '32x32') %></a>
        </div>
        <div class="usa-width-two-thirds">
          <p>CWDS is a collaboration of California state and local government agencies that supports our customers through technology to assure the safety, permanency, and well-being of children at risk of abuse, neglect, or exploitation.</p>
          <p>CWDS maintains and operates the existing Child Welfare Services / Case Management System (CWS/CMS), including implementation of operational changes to that system</p>
          <p>At the same time, in the context of the CWS – New System (CWS-NS) project, CWDS is developing a new technology platform and set of digital services that will be rolled out and trained incrementally over the next few years. These digital services will provide a more intuitive user experience and new capabilities not currently provided by the CWS/CMS, LIS, and FAS legacy systems.</p>
        </div>
      </section>
   
      <section class="usa-section usa-section-dark usa-graphic_list">
        <div class="usa-grid usa-graphic_list-row">
          <div class="usa-width-one-half usa-media_block">
            <div class='wrap' id='heartwrap'>
              <span class="fa-stack fa-4x" >
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class='hi-icon fa fa-tachometer fa-stack-1x' id='hearticon'></i>
              </span>
            </div>  
            
            <div class="usa-media_block-body">
              <h3>Digital Services Dashboard:</h3>
              <p>We have recently started to develop a digital services dashboard. The dashboard contains information related to the development efforts of CWDS including links to backlogs, source code, and other related documentation.</p>
            </div>
          </div>
          <div class="usa-width-one-half usa-media_block">
            
            <div class='wrap' id='forumbee'>
              <span class="fa-stack fa-4x" >
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class='hi-icon fa fa-forumbee fa-stack-1x' id='forumbeeicon'></i>
              </span>
            </div>  
            <div class="usa-media_block-body">
              <h3>CWDS Quarterly Stakeholder Forum:</h3>
              <p>CWDS has published our first quarterly stakeholder presentation. Click the link below to view the slide deck in PDF format. CWDS Quarterly Stakeholder Forum 2016/17 Q1</p>
            </div>
          </div>
        </div>
        <div class="usa-grid usa-graphic_list-row">
          <div class="usa-width-one-half usa-media_block">
             <div class='wrap' id='university'>
              <span class="fa-stack fa-4x" >
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class='hi-icon fa fa-university fa-stack-1x' id='universityicon'></i>
              </span>
            </div>
            <div class="usa-media_block-body">
              <h3>Digital Design Standards</h3>
              <p>The CWDS Digital Service Standard ensures that digital teams build high quality digital services.</p>
            </div>
          </div>
          <div class="usa-width-one-half usa-media_block">
             <div class='wrap' id='briefcase'>
              <span class="fa-stack fa-4x" >
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class='hi-icon fa fa-briefcase fa-stack-1x' id='briefcaseicon'></i>
              </span>
            </div>
            <div class="usa-media_block-body">
              <h3>CWDS Procurements</h3>
              <p>Child Welfare Digital Services (CWDS) has the following procurement opportunities and open contracts. The procurements listed below are subject to the requirements listed in the documentation for each.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="usa-section">
        <div class="usa-grid">
          <h2>CWDS Job Opportunities</h2>
          <p class="usa-font-lead">Child Welfare Digital Services (CWDS) seeks qualified applicants to shape the future of IT development and to improve the lives of children at risk of abuse and neglect. The positions listed below are open and actively being recruited to ensure that CWDS has the proper resources to accomplish our team’s vision.</br></br>To apply for these positions, you must obtain list eligibility through the State’s exam process. Links to the job posting for each position and associated exams for these positions can be found below:</p>
          


          <a class="usa-button usa-button-big" href="https://cwds.ca.gov/jobs/">See Job Vacancies</a>
        </div>
      </section>
    </main>