<table id="table_uploads" class="table-bordered dt-responsive">
      <thead>
        <tr>
          <th>Title</th>
          <th>Directory</th>
          <th>Created At</th>
          <th>Delete</th>
        </tr>
      </thead>
      
      <tbody>
        <% @uploads.each do |upload| %>
        <tr>
          <td>
            <%= link_to upload do %>
              <%=  File.basename(upload.name.path) %>
            <% end %>
          </td>
          <td><%= upload.directory %></td>
          <td><center><%= upload.created_at.strftime("%m-%d-%Y") %></center></td>
          <td width="70px;">
            <%= link_to 'Delete', upload_path(upload), data: {:confirm => 'Are you sure?'}, :method => :delete, :class => "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
</table> 

<%= link_to "New Upload", new_upload_path, :class => "btn", :remote => true, "data-toggle" => "modal", "data-target" => "my-modal" %>
<div class="modal hide fade" id="my-modal" title="My modal">
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
    <h3 id="myModalLabel">Upload</h3>
  </div>
  <div class="modal-body a-unique-class">
    New Upload
  </div>
  <div class="modal-footer">
    <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
  </div>
</div>

<script>
  $('table').DataTable();

// See:
// http://www.sitepoint.com/responsive-data-tables-comprehensive-list-solutions
</script>



<!-- Include jQuery Popup Overlay -->
<script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>

<script>
  $(document).ready(function() {

    // Initialize the plugin
    $('#my_popup').popup();

  });
</script>
  
<style>
  .dataTables_wrapper .dataTables_paginate .paginate_button {

    padding: 0;
    margin-left: 0px; 

  }
  
  select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: none;
  border: 1px solid #f1f1f1;
  background: none;
}

.btn-danger {
  text-decoration: none;
}
</style>
