<p id="notice"><%= notice %></p>

<p> Last updated @ <%= time_ago_in_words @page.created_at%> ago</p>

<p>
  <%= @page.title %>
</p>

<p>
  
  <%= simple_format(@page.body) %>
</p>

<%#<p>
  <strong>Slug:</strong>
  <%= @page.slug %>
</p>

<%# <%= link_to 'Edit', edit_admin_page_path(@page) %>
<%# <%= link_to 'Back', admin_pages_path %>
