<main class="usa-grid usa-section" id="main-content">
  
    <%= raw @page.body %>
    
    
    <% if @page.template == "File Directory" %>
     <%= render 'fileDirectory', page: @page %>
    <%end%>
    
     <% if @page.template == "Training Portal" %>
     <%= render 'trainingPortal', page: @page %>
    <%end%>
    
  
  <%# <%= link_to 'Edit', edit_admin_page_path(@page) %>
  <%# <%= link_to 'Back', admin_pages_path %>
</main>