<script>
 $(document).ready(function() {
    $('body').hide();
    $(window).on('load', function() {
        $('body').show();
    });
});
</script>

    
  <% if @page.template == "Wiki" %>
  <nav id="menu" class="menu">
   <%= raw @page.wikiNav %>
  </nav>
 <%end%>
 
 
<header class="fixed-header">
  <button class="btn-hamburger js-slideout-toggle">Glossary</button>
</header>
<div id="main" class="panel"> 
<main class="usa-grid usa-section" id="main-content">
  <%= raw @page.body %>
  </main>
</div>

  
    
    <% if @page.template == "File Directory" %>
     <%= render 'fileDirectory', page: @page %>
    <%end%>
    
     <% if @page.template == "Training Portal" %>
     <%= render 'trainingPortal', page: @page %>
    <%end%>
    
    <% if @page.slug == "wiki" %>
     <%= render 'wikiHome', page: @page %>
    <%end%>
  
  <%# <%= link_to 'Edit', edit_admin_page_path(@page) %>
  <%# <%= link_to 'Back', admin_pages_path %>
</main>


<style>

 body,
.panel {
  background-color: #fff;
}

.menu {
  background-color: #1D1F20;
  background-image: linear-gradient(145deg, #1D1F20, #404348);
}

.menu a {
  color: #fff;
}

.menu a:hover {
  text-decoration: underline;
}

.menu-header {
  border-bottom: 1px solid #2a2d2f;
  padding: 20px;
  background-size: 32px;
}

.menu-header-title {
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
}

.menu-section {
  margin: 25px 0;
}

.menu-section-title {
  text-transform: uppercase;
  color: #85888d;
  font-weight: 200;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 0 20px;
  margin:0;
}

.menu-section-list {
  padding:0;
  margin: 10px 0;
  list-style:none;
}

.menu-section-list a {
  display: block;
  padding: 10px 20px;
}

.panel {
  text-align: center;
  padding-top: 5px;
  min-height: 100%;
}

#mocha {
  text-align: left;
  margin:0 !important;
}

#mocha-stats {
  top: 70px;
}

/**
 * Header
 */
.panel-header {
  margin: 120px auto 55px;
}

.title {
  font-size: 3.2em;
  line-height: 1em;
  margin: 0 0 15px;
  color: #4B5;
  font-weight: 400;
}

/**
 * hamburger
 */
.fixed-header {
  position: fixed;
  width: 10%;
  height: 50px;
  backface-visibility: hidden;
  z-index: 2;
  margin: 0 0 0 10px;
}

.btn-hamburger {
  position: static;
  height: 40px;
}

/**
 * Boxes
 */
.box {
  border-radius: 4px;
  text-align: left;
  margin: 50px 10px;
  position: relative;
}

.box:before,
.box:after {
  content: ' ';
  display: inline-block;
  width: 1px;
  height: 50px;
  position: absolute;
  left: 50%;
}

.box:before {
  top: -50px;
}

.box:after {
  bottom: -50px;
}

.box-title {
  margin: 0;
  padding:10px 20px;
  font-size: 1.2em;
  font-weight: 400;
}

.box-content {
  padding:20px;
}

/**
 * Medium Screens
 */
@media all and (min-width:40em) {

  .btn-hamburger {
    top: 20px;
    left: 30px;
    width: auto;
  }

  .panel-header {
    margin-top: 40px;
    width: 455px;
  }

  .title {
    font-size: 4.2em;
  }
}

/**
 * Large Screens
 */
@media all and (min-width: 54em) {
  .box {
    max-width: 1200px;
    margin: 50px auto;
  }
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  width: 256px;
  display: none;
  overflow-y: scroll;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.slideout-menu { right: auto; }
      .btn-hamburger { right: auto; right: 12px; width: auto;}

</style>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>
    <script>
var slideout = new Slideout({
  'panel': document.getElementById('main'),
  'menu': document.getElementById('menu'),
  'padding': 256,
  'tolerance': 70
});

document.querySelector('.js-slideout-toggle').addEventListener('click', function() {
  slideout.toggle();
});

var fixed = document.querySelector('.fixed-header');

slideout.on('translate', function(translated) {
  fixed.style.transform = 'translateX(' + translated + 'px)';
});

slideout.on('beforeopen', function () {
  fixed.style.transition = 'transform 300ms ease';
  fixed.style.transform = 'translateX(256px)';
});

slideout.on('beforeclose', function () {
  fixed.style.transition = 'transform 300ms ease';
  fixed.style.transform = 'translateX(0px)';
});

slideout.on('open', function () {
  fixed.style.transition = '';
});

slideout.on('close', function () {
  fixed.style.transition = '';
});
    </script>