<%= form_for @post do |f| %>
  <% if @post.errors.any?  %>
    <div>
      <h2><%= pluralize(@post.errors.count, "error") %> prevented from saving</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <%end%>
      </ul>
    </div>
  <%end%>
  <p>
    <%= f.label :title %>  
    <%= f.text_field :title %> 
  </p>
  <p>
    <%= f.label :status %>
    <%= f.select :status, ['Draft','Published'], :prompt => "Draft of Published?" %>
  </p>
  <p>
    <%= f.label :publish_time %><br />
    <%= f.datetime_select :publish_time, :ampm => true, :minute_step => 15 %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.cktext_area :body %>
  </p>
  
  <p>
    <%= f.label :Categories %>
    <%= f.text_field :all_categories, placeholder: "Categories seperated with comma" %>
  </p>
 
  <p>
    <%= f.label :Tags %>
    <%= f.text_field :all_tags, placeholder: "Tags separated with comma" %>
  </p>
  
 
  
  <p>
    <%= f.submit %>  
  </p>
  
<%end%>