<%= form_for @post do |f| %>
  <% if @post.errors.any?  %>
    <div>
      <h2><%= pluralize(@post.errors.count, "error") %> prevented from saving</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <%end%>
      </ul>
    </div>
  <%end%>
  
  <main id="main-content">
    <div class="usa-width-three-fourths">
      <p>
        <%= f.label :title %>  
        <%= f.text_field :title %> 
      </p>
      <p>
        <%= f.label :body %>
        <%= f.cktext_area :body %>
      </p>
      <p>
        <%= f.submit %>  
      </p>
    </div>
    <div class="usa-width-one-fourth">
      <p>
        <%= f.label :status %>
        <%= f.select :status, ['Draft','Published'], :prompt => "Draft of Published?" %>
      </p>
      <p>
        <%= f.label :publish_time %><br />
          <div class="form-group">
              <div class='input-group date' id='datetimepicker1'>
                <%= f.datetime_select :publish_time %>
              </div>  
          </div>
      </p>
      <p>
        <%= f.label :Categories %>
        <%= f.text_field :all_categories, placeholder: "Categories seperated with comma" %>
      </p>
     
      <p>
        <%= f.label :Tags %>
        <%= f.text_field :all_tags, placeholder: "Tags separated with comma" %>
      </p>
    </div>
  </main>
  

  
<%end%>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            showTodayButton: true,
            format: "DD-MM-YYYY hh:mm A",
            showTodayButton: false,
            toolbarPlacement: 'bottom',
            widgetPositioning: {
                horizontal: 'left',
                vertical: 'top'
            }
        });
    });
</script>
    
<style>
  @media screen and (min-width: 600px) {
    .usa-width-three-fourths {
      width: 70.41059%;
      margin-right: 6.35765%;
    }
  }

  input, textarea, select {
    margin: 0;
    max-width: 70rem;
  }
  
  .col-sm-6 {
    padding-left: 0;
  }
</style>