<main class="usa-grid usa-section" id="main-content">
  <div class="usa-width-two-thirds">
    
    <h2><%= @title %></h2>
    
    <% @posts.each do |post| %>
      <div class="post_wrapper">
        <h2 class="post-title"><%= link_to post.title, post%></h2>
        
        <div class="entry-meta">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <span class="date"><%= post.created_at.strftime("%B, %d, %Y")%></span>
        </div>
        
        <div><%=raw post.body%></div>
        
        <div class="cat-tags">
          <i class="fa fa-folder-open" aria-hidden="true"></i>
          <span class="category"><%=raw category_links(post.all_categories)%></span>
          <i class="fa fa-tag" aria-hidden="true"></i>
          <span class="tag"><%=raw tag_links(post.all_tags)%></span>
        </div>
        
      </div>
      
    <%end%>
  </div>
</main>