<main class="usa-grid usa-section" id="main-content">
  <div class="usa-width-two-thirds">
    
    <% if @title.present?%>
    <h2><%= @title %></h2>
    <% else%>
    <h2>Latest Posts</h2>
    <%end%>
    
    <% @posts.each do |post| %>
      <div class="post_wrapper">
        <h2 class="post-title"><%= link_to post.title, post%></h2>
        
        <div class="entry-meta">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <span class="date"><%= post.created_at.strftime("%B, %d, %Y")%></span>
        </div>
        
        <div><%=raw post.body%></div>
        
        <div class="cat-tags">
          <i class="fa fa-folder-open" aria-hidden="true"></i>
          <span class="category"><%=raw category_links(post.all_categories)%></span>
          <i class="fa fa-tag" aria-hidden="true"></i>
          <span class="tag"><%=raw tag_links(post.all_tags)%></span>
        </div>
        
      </div>
      
    <%end%>
  </div>
  <div class = "usa-width-one-third">
    <h4><i class="fa fa-tag" aria-hidden="true"></i> POPULAR TAGS</h4>
    <% tag_cloud Tag.counts, %w{css1 css2 css3 css4} do |tag, css_class| %>
      <span class = "cat-tags"><%= link_to tag.name, tag_path(tag.name), class: css_class %></span>
    <% end %>
    
    <h4><i class="fa fa-object-group" aria-hidden="true"></i> CATEGORIES</h4>
    <% @categories.each do |category| %>
      <span class = "cat-tags">
         <%=link_to category, category_path(category) %> <br>
      </span>
     
    <%end%>
    
  </div>
  
  

  
</main>