<main class="usa-grid usa-section" id="main-content">
<h1>Uploads</h1>
<table id="table_uploads" class="table-bordered dt-responsive">
  <thead>
    <tr>
      <th>Title</th>
      <th>Directory</th>
      <th>Created At</th>
      <th>Delete</th>
      <th>Created At Hidden</th>
    </tr>
  </thead>
  
  <tbody>
    <% @uploads.each do |upload| %>
    
    <tr>
      <td width="65%;">
        <%= link_to upload.name.url, target: :_blank do %>
          <%=  File.basename(upload.name.path) %>
        <% end %>
      </td>
      <td><%= upload.directory %></td>
      <td><center><%= upload.created_at.strftime("%B %d, %Y at %l:%M %p") %></center></td>
      <td width="70px;">
        <%= link_to 'Delete', upload_path(upload), data: {:confirm => 'Are you sure?'}, :method => :delete, :class => "btn btn-danger" %>
      </td>
      <td><%= upload.created_at %></td>
  </tr>
    <% end %>

  </tbody>
</table>  
<div class="button_wrapper">
<%= button_to 'New upload', new_upload_path, :method => :get %>
</div>
</main>


<script>
$(document).ready(function() {
  var table = $('#table_uploads').dataTable( {
    "order": [ 2, 'desc' ],
    "columnDefs": [
      { "orderData": 2, "targets": 4 },
      { "targets": 4, visible: false}
    ]
  } );
} );

</script>

<style>

  table td {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button {

    padding: 0;
    margin-left: 0px; 

  }
  
  a {
    text-decoration: none;
  }
  
  form [type="submit"], form [type="submit"] {
  margin-top: 0;
}

.btn-danger {
  text-decoration: none;
}

a.btn-danger:visited {
  color: #fff;
}
</style>


</main>
