<main class="usa-grid usa-section" id="main-content">
  <h1>New Upload</h1>
   
  <%= form_for(@upload) do |f| %>
    <% if @upload.errors.any?  %>
      <div>
        <h2><%= pluralize(@upload.errors.count, "error") %> prevented from saving</h2>
        <ul>
          <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <%end%>
        </ul>
      </div>
    <%end%>
  
    <div>
      <%= f.label :name %><br>
      <%= f.file_field :name %>
    </div>
    <div id="directory-option">
      <%= f.label :directory, 'Select Existing Directory' %> <br>
      <%= f.select :directory, options_for_select(@upload_paths.map { |obj| [obj, obj] }, :selected => 'general') %>
    </div>
    
    <div id="directory-new">
       <%= f.label :new_directory  %> <br>
       <%= text_field_tag 'new_directory', nil, placeholder: 'Enter a new directory' %>
    </div>
    
    <div id="directory-new-btn">
      <a href="#" class="btn btn-warning">Create New Directory</a>
    </div>
    
    <div id="directory-cancel-btn">
      <a href="#" class="btn btn-warning">Cancel</a>
    </div>
    
    <div id="submit">
      <%= f.submit "Upload" %>
    </div>
  <% end %>
   
  <%= link_to 'Back', uploads_path %>
</main>

<style>
  a, a:visited {
    text-decoration: none;
    color: white;
  }
  
  .btn {
    margin-top: 10px;
  }
</style>
<script>
 $(document).ready(function() {

 $('#directory-new').hide(); //Initially form wil be hidden.
 $('#directory-cancel-btn').hide(); //Initially form wil be hidden.

  $('#directory-new-btn').click(function() {
   $('#directory-new').show();//Form shows on button click
   $('#directory-option').hide();
   $('#directory-new-btn').hide();
   $('#directory-cancel-btn').show();
    return false;
   });
   
   $('#directory-cancel-btn').click(function() {
    $('#directory-option').show();
    $('#directory-new-btn').show();
    $('#directory-cancel-btn').hide();
    $('#directory-new').hide();
    return false;
   });
   
 });
</script>