<header class="usa-header usa-header-extended" role="banner">
    <%= auto_discovery_link_tag :rss, posts_url(:format => :rss) %>
      
      <%= render 'layouts/usaBanner' %>
      
      <div class="usa-navbar">
        <button class="usa-menu-btn">Menu</button>
        <div class="usa-logo" id="logo">
          <em class="usa-logo-text">
            <%= image_tag("cwds_logo.png", :alt => "Logo image",  :size => "60" ) %>
            <a href="/" accesskey="1" title="Home" aria-label="Home">Child Welfare Digital Services</a>
            
          </em>
        </div>
      </div>
      <nav role="navigation" class="usa-nav">
        <div class="usa-nav-inner">
          <button class="usa-nav-close">
            
            <%= image_tag("img/close.svg" , :alt => "close")%>
          </button>
          <ul class="usa-nav-primary usa-accordion">
            <li>
              <%= link_to 'Follow Our Progress', 'https://blog.cwds.ca.gov/', :class => "usa-nav-link"  %>
            </li>
            <li>
              <%= link_to 'Events', '/events-calendar', :class => "usa-nav-link"  %>
            </li>
            <li>
              <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sidenav-2">
                <span>How We Operate</span>
              </button>
              <ul id="sidenav-2" class="usa-nav-submenu">
                <li>
                  <%= link_to 'How We Operate', '/how_we_operate' , :class => "usa-nav-link"  %>
                </li>

                <li>
                   <%= link_to 'Digital Service Design Standards', '/digital_service_design_standards' , :class => "usa-nav-link"  %>
                </li>
                <li>
                   <%= link_to 'Project Management', '/project_management' , :class => "usa-nav-link"  %>
                </li>
                <li>
                   <%= link_to 'Transparency', '/feed' , :class => "usa-nav-link"  %>
                </li>
                </ul>
            </li>
            <li>
              <%= link_to 'Dashboard', '/dashboard', :class => "usa-nav-link"  %>
            </li>
            <li>
              <%= link_to 'For Stakeholders', '/stakeholders', :class => "usa-nav-link", method: :get %>
            </li>
            
            <li>
              <%= link_to 'For Vendors', '/vendors', :class => "usa-nav-link"  %>
            </li>
            <li>
              <%= link_to 'About CWDS', '/about_cwds', :class => "usa-nav-link"  %>
            </li>
            
          </ul>
          <div class="usa-nav-secondary">
            <form class="usa-search usa-search-small js-search-form">
              <div role="search">
                <label class="usa-sr-only" for="search-field-small">Search small</label>
                <input id="search-field-small" type="search" name="search">
                <button type="submit">
                  <span class="usa-sr-only">Search</span>
                </button>
              </div>
            </form>
            <ul class="usa-unstyled-list usa-nav-secondary-links">
              <li>
              <a href="http://www.hwcws.cahwnet.gov/">CWS/CMS Website</a>
            </li>
              
              
                
                
              
            </ul>
          </div>
        </div>
      </nav>
    </header>