<header class="usa-header usa-header-extended" role="banner">
      <!-- Gov banner BEGIN -->
      <div class="usa-banner">
        <div class="usa-accordion">
          <header class="usa-banner-header">
            <div class="usa-grid usa-banner-inner">
            
            <%= image_tag("img/favicons/favicon-57.png", :alt => "U.S. Flag") %>
            <p>This is a test site for CWDS</p>
            <button class="usa-accordion-button usa-banner-button"
              aria-expanded="false" aria-controls="gov-banner">
              <span class="usa-banner-button-text">Find out more here</span>
            </button>
            </div>
          </header>
          <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
            <div class="usa-banner-guidance-gov usa-width-one-half">
              <%= image_tag("img/icon-dot-gov.svg", :alt => "Dot gov", :class => "usa-banner-icon usa-media_block-img") %>
              <div class="usa-media_block-body">
                <p>
                  <strong>Reporting a bug.</strong>
                  <br>
                  If you find bugs or compatabiity issues with this site, contact the CWDS Web Team @ cwsweb03@osi.ca.gov
                </p>
              </div>
            </div>
            <div class="usa-banner-guidance-ssl usa-width-one-half">
              <%= image_tag("img/icon-https.svg", :alt => "SSL", :class => "usa-banner-icon usa-media_block-img") %>
              <div class="usa-media_block-body">
               
                <p>This site is currently under development, please contact andy.leung@osi.ca.gov for questions or feedbacks. Alternatively, you can view upcoming functionality the web team is working on by viewing the <a href="https://cwscms.osi.ca.gov/New-System/Stakeholder-Feedback-Form">user stories</a> in Pivotal Tracker</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Gov banner END -->
      <div class="usa-navbar">
        <button class="usa-menu-btn">Menu</button>
        <div class="usa-logo" id="logo">
          <em class="usa-logo-text">
            <%= image_tag("cwds_logo.png", :alt => "Logo image",  :size => "60" ) %>
            <a href="/" accesskey="1" title="Home" aria-label="Home">Child Welfare Digital Services</a>
            
          </em>
        </div>
      </div>
      <nav role="navigation" class="usa-nav">
        <div class="usa-nav-inner">
          <button class="usa-nav-close">
            
            <%= image_tag("img/close.svg" , :alt => "close")%>
          </button>
          <ul class="usa-nav-primary usa-accordion">
            <li>
              <%= link_to 'News', news_url, :class => "usa-nav-link"  %>
            </li>
            <li>
              <button class="usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="sidenav-2">
                <span>How We Operate</span>
              </button>
              <ul id="sidenav-2" class="usa-nav-submenu">
                <li>
                  <%= link_to 'How We Operate', how_we_operate_url , :class => "usa-nav-link"  %>
                </li>
                <!--
                <li>
                   <%= link_to 'CWDS Github Website Standards', cwds_github_website_standards_url , :class => "usa-nav-link"  %>
                </li>-->
                <li>
                   <%= link_to 'Digital Service Design Standards', digital_service_design_standards_url , :class => "usa-nav-link"  %>
                </li>
                <li>
                   <%= link_to 'Project Management', project_management_url , :class => "usa-nav-link"  %>
                </li>
                <li>
                   <%= link_to 'Plan Template', plan_template_url , :class => "usa-nav-link"  %>
                </li>
                </ul>
            </li>
            <li>
              <%= link_to 'Dashboard', dashboard_url, :class => "usa-nav-link"  %>
            </li>
            <li>
              <%= link_to 'For Stakeholders', stakeholders_url, :class => "usa-nav-link"  %>
            </li>
            
            <li>
              <%= link_to 'For Vendors', vendors_url, :class => "usa-nav-link"  %>
            </li>
            
          </ul>
          <div class="usa-nav-secondary">
            <form class="usa-search usa-search-small js-search-form">
              <div role="search">
                <label class="usa-sr-only" for="search-field-small">Search small</label>
                <input id="search-field-small" type="search" name="search">
                <button type="submit">
                  <span class="usa-sr-only">Search</span>
                </button>
              </div>
            </form>
            <ul class="usa-unstyled-list usa-nav-secondary-links">
              <li>
              <a href="http://www.hwcws.cahwnet.gov/">CWS/CMS Website</a>
            </li>
              
              
                
                <% if logged_in? %>
                  <li><%= link_to "Users", users_path %></li>
                  <li><%= link_to "Profile", user_path(current_user) %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                <%else%>
                  <li><%= link_to "Join CWDS", join_cwds_url %></li>
                  <%end%>
              
            </ul>
          </div>
        </div>
      </nav>
    </header>