<% if logged_in? %>
      <div class="usa-banner">
        <div class="usa-accordion">
          <header class="usa-banner-header">
            <div class="usa-grid usa-banner-inner">
            
            <%= image_tag("img/favicons/California_Flag.png", :alt => "CA Flag") %>
            <p>Welcome to CWDS: <%= current_user.name%></p>
            <button class="usa-accordion-button usa-banner-button"
              aria-expanded="false" aria-controls="gov-banner">
              <span class="usa-banner-button-text">Access your Profile Here</span>
            </button>
            </div>
          </header>
          <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
            <div class="usa-banner-guidance-gov usa-width-one-half">
              <%= image_tag("img/icon-dot-gov.svg", :alt => "Dot gov", :class => "usa-banner-icon usa-media_block-img") %>
              <div class="usa-media_block-body">
                <p>
                  <strong><%= link_to "Users", users_path %> | <%= link_to "Settings", edit_user_path(current_user) %> 
                  | <%= link_to "Profile", user_path(current_user) %> <% if check_role?("Site Admin") %>| <%=link_to "Role Admin", admin_roles_url()%> 
                  | <%=link_to "Page Admin", admin_pages_url()%> <%end%> <%if check_role?("Content Editor")%>
                  | <%=link_to "Page Admin", admin_pages_url()%><%end%></strong>
                  <br>
                  Change your profile setting and update your personal info
                </p>
              </div>
            </div>
            <div class="usa-banner-guidance-ssl usa-width-one-half">
              <%= image_tag("img/icon-https.svg", :alt => "SSL", :class => "usa-banner-icon usa-media_block-img") %>
              <div class="usa-media_block-body">
               
                <p><%= link_to "Log out", logout_path, method: "delete" %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
<%else%>

<!-- Gov banner BEGIN -->
      <div class="usa-banner">
        <div class="usa-accordion">
          <header class="usa-banner-header">
            <div class="usa-grid usa-banner-inner">
            
            <%= image_tag("img/favicons/California_Flag.png", :alt => "CA Flag") %>
            <p>This site is currently under development</p>
            <button class="usa-accordion-button usa-banner-button"
              aria-expanded="false" aria-controls="gov-banner">
              <span class="usa-banner-button-text">Find out more here</span>
            </button>
            </div>
          </header>
          <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
            <div class="usa-banner-guidance-gov usa-width-one-half">
              <%= image_tag("img/icon-dot-gov.svg", :alt => "Dot gov", :class => "usa-banner-icon usa-media_block-img") %>
              <div class="usa-media_block-body">
                <p>
                  <strong>Reporting a bug.</strong>
                  <br>
                  If you find bugs or compatabiity issues with this site, contact the CWDS Web Team @ cwsweb03@osi.ca.gov
                </p>
              </div>
            </div>
            <div class="usa-banner-guidance-ssl usa-width-one-half">
              <%= image_tag("img/icon-https.svg", :alt => "SSL", :class => "usa-banner-icon usa-media_block-img") %>
              <div class="usa-media_block-body">
               
                <p>This site is currently under development, please contact andy.leung@osi.ca.gov for questions or feedbacks. Alternatively, you can view upcoming functionality the web team is working on by viewing the <a href="https://cwscms.osi.ca.gov/New-System/Stakeholder-Feedback-Form">user stories</a> in Pivotal Tracker</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Gov banner END -->


<%end%>

