<!doctype html>
  <html lang="en">
    <head>
      <title><%= full_title(yield(:title)) %>  </title>
      <%= csrf_meta_tags %>
      <%= favicon_link_tag 'favicon.ico' %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= render 'layouts/shim' %>
    </head>
    <%- if params[:controller] == 'admin/posts' or params[:controller] == 'admin/pages' and params[:action] == 'index' %>
      <body data-turbolinks="false">
    <%- else %>
      <body data-turbolinks="true">
    <%- end %>
      <!--<a class="usa-skipnav" href="#main-content">Skip to main content</a>-->
      <%= render 'layouts/header'%>
       <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
   
      <%= yield %>
     
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </body>
  </html>








